package ${package.ServiceImpl};

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import java.util.List;

import ${package.Entity}.${entity};
import ${package.Mapper}.${table.mapperName};
import ${package.Service}.${table.serviceName};
import ${superServiceImplClassPackage};
import org.springframework.stereotype.Service;

/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
#if(${kotlin})
open class ${table.serviceImplName} : ${superServiceImplClass}<${table.mapperName}, ${entity}>(), ${table.serviceName} {

}
#else
public class ${table.serviceImplName} extends ${superServiceImplClass}<${table.mapperName}, ${entity}> implements ${table.serviceName} {
        @Override
        public boolean addUp(${table.entityName} ${table.entityPath}){
            return saveOrUpdate(${table.entityPath});
        }
        @Override
        public boolean deletById(Integer id){
            return removeById(id);
        }
        @Override
        public boolean deleteBatch(List<Integer> ids){
            return removeByIds(ids);
        }
        @Override
        public List<${entity}> query${table.entityName}(){
            return list();
        }
        @Override
        public ${entity} queryById(Integer id){
            return  getById(id);
        }
        @Override
        public Page<${entity}> queryPage(Integer pageNum,Integer pageSize,QueryWrapper<${entity}> queryWrapper){
            return page(new Page<>(pageNum, pageSize),queryWrapper);
        }
}
#end
